
<div id="wrapper">
	<div class = "section" style ="background-color: ">
		<%= month_calendar do |date| %>
			<p class = "td"><%= date.day  %></p>
		<% end %></div>
	<div class = "section"><%= image_tag "bg2.jpg" %></div>
	<div class = "section"><%= image_tag "bg2.jpg" %></div>
	
</div>
<script type="text/javascript">
        $(document).ready(function(){
        	$('#wrapper').fullpage();
        });
</script>



