//달력 커서 툴팁

  [data-tooltip-text]:hover {
	position: relative;
}

  [data-tooltip-text]:hover:after {
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
		top: 135% ;
	width: 100px;
	min-width: 50px;
	font-size: 40px;
	
	content: attr(data-tooltip-text);

	display: block;
	position: absolute;
	
	
	z-index: 10;
	-webkit-border-radius: 5px;
}

