.create_form_left {
    position: absolute;
    padding-top: 142px;
    left: 50%;
    margin-left: -434px;
    display: inline;

}
    
    .label_name{
        display: inline-block;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 900;
        font-size: 24px;
        text-align: center;
        vertical-align: top;
        background-color: #13B4D1;
        width: 128px;
        height: 52px;
        margin: 0 20px 33px 0;
        line-height: 54px;
    }


    .title_field{
        display: inline-block;
        width: 720px;
        height: 46px;
        border: 2px solid black;
}
    .datetime_select select{
        display: inline-block;
        width: 720px;
        height: 52px;
        border: 2px solid black;
}
    .location_field {
        height: 46px;
        width: 720px;
        border: 2px solid black;
}
    .image_field {
        height: 48px;
        width: 360px;
        border: 2px solid black;
    
}
    .text_field {
        
        width: 720px;
        height: 471px;
        border: 2px solid black;
        margin-bottom: 33px;
}
    .tag_field {
        display: inline-block;
        width: 724px;
        height: 50px;
        border: 2px solid black;
        position: relative;
        left: 152px;
        top: -86px;
    }




.create_form_right {
    position: absolute;
    width: 868px;
    left: 50%;
    margin-left: -434px;
    
}


.submit {
    display: inline;
	background-color: #3BE5A3;
	font-family: 'GillSansMTUB';
    height: 52px;
    border: 3px solid black;
    position: relative;
    top: 471px;
    left: 898px;
}


.create_form_right input[type=submit] {
    font-size: 30px;
}