

.create_form_left {
    position: absolute;
    display: inline-block;
    padding-top: 142px;
    left: 50%;
    margin-left: -434px;

    

}
    
    .label_name{
        display: inline-block;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 900;
        font-size: 24px;
        text-align: center;
        vertical-align: top;
        background-color: #13B4D1;
        width: 128px;
        height: 52px;
        margin: 0 20px 33px 0;
        line-height: 54px;
    }


    .title_field{
        display: inline-block;
        position: relative;
        width: 720px;
        height: 46px;
        border: 2px solid black;
}
    .datetime_select select{
        display: inline-block;
        width: 720px;
        height: 52px;
        border: 2px solid black;
}
    .location_field {
        position: relative;
        height: 46px;
        width: 720px;
        border: 2px solid black;
}
    .image_field {
        position: relative;
        height: 48px;
        width: 360px;
        border: 2px solid black;
    
}
    .text_field {
        width: 720px;
        height: 471px;
        border: 2px solid black;
}







=======
// 게시글 올리는 페이지 CSS
.create_form_right {
}



 .submit {
	background-color: #3BE5A3;
    display: inline;
	font-family: 'GillSansMTUB';
    height: 52px;
    border: 3px solid black;
    position: relative;
     float: right;
    right: 0;
    left: auto;
}


input[type=submit] {
    font-size: 30px;
}
