
.forme_event {
        float: left;
        position: absolute;
        font-family: 'Noto Serif KR', serif;
        font-weight: 900;
        font-size: 2.8646vw;
        line-height: 5.3125vw;
        margin-left: 82px;
        width: 17.76%;
        top: 38%;
        
    }

        .bluearrow {
        float: left;
        position: relative;
        width: 23.36%;
        margin-top: -18%;
        left: 101%;
}


#blue {
        background-color: #13B4D1;
}

ul {
    float: right;

}

    #blue .main_tags_search {
        float: right;
        margin-right: 300px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        font-size: 23px;
        line-height: 55px;
        width: 14.375%;
        display: inline;
       
     
        
    }
        

    .main_tag {
        display: none;

    }

    .main_tag + label {
      display: inline-block;
      cursor: pointer;
      user-select: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        width: 276px;
        height: 55px;
        text-align: center;
        margin-top: -1px;
    }
    .main_tag:checked + label {
      font-weight: 900;
    } 
    
    .tag2{
        
        margin-left: 296px;
}
    .tag1{
        margin-left: 0px;
}
    
    // 검색버튼 
    .submit_button {
        font-size: 25px;

    }


 #mint {
        background-color: #3BE5A3;
    }

    #mint .month_event {

        float: left;
        position: absolute;
        font-family: 'Noto Serif KR', serif;
        font-weight: 900;
        font-size: 2.8646vw;
        line-height: 5.3125vw;
        margin-left: 82px;
        width: 17.76%;
        top: 47%;
}
    .mintarrow {
        position: relative;
        float: left;
        width: 36%;
        left: 88%;
        margin-top: -18%;
}

    .mint_calender {
        float: right;
        position: relative;
        right: 82px;
        width: 1036px;
        height: 500px;
        border: 1px solid black;
}




    #red {
        background-color: #FF7D65;
    }


    #red .month_event {

        float: left;
        font-family: 'Noto Serif KR', serif;
        font-weight: 900;
        font-size: 2.8646vw;
        line-height: 5.3125vw;
        margin-left: 82px;
        width: 17.76%;
        position: absolute;
        top: 47%;
}
    .redarrow {
        position: relative;
        float: left;
        width: 36%;
        left: 88%;
        margin-top: -18%;
    
}

    .red_about {
        float: right;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 100;
        font-size: 3.90625vw;
        line-height: 9.5895vw;
        width: 60.625%;
        border: 1px solid black;
        margin-top: 5%;
        margin-right: 82px;
}
