#blue > div {
       
        padding: 0px 50px 0 82px;	
    }
    #blue .forme_event {
        float: left;
        font-family: 'Noto Serif KR', serif;
        font-weight: 900;
        font-size: 55px;
        line-height: 102px;
        left: 82px;
        width: 341px;
    }


    #mint .month_event {

        float: left;
        font-family: 'Noto Serif KR', serif;
        font-weight: 900;
        font-size: 55px;
        line-height: 102px;
        left: 82px;
        width: 341px;
}


    #blue .main_tags_search {

        float: left;
        margin-left: 674px;

    }
    #blue {
        background-color: #13B4D1;
    }
    #mint {
        background-color: #3BE5A3;
    }
    #red {
        background-color: #FF7D65;
    }



    /*화살표 픽셀이 미묘하게 안맞음*/
    .arrow_right {
        position: absolute;
        width: 74px;
        top: 664px;
        left: 430px;
        background: transparent;
        border-top: 2px solid black;
    }

    .arrow_right:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 17px;
        top: -2px;
        left: 58px;
        border-top: 2px solid black;
        transform-origin: right;
        transform: rotate(45deg);
    }

    .arrow_right:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 17px;
        top: -2px;
        left: 58px;
        border-top: 2px solid black;
        transform-origin: right;
        transform: rotate(-45deg);
    }


    .arrow_month {
        position: absolute;
        width: 115px;
        top: 1640px;
        left: 389px;
        background: transparent;
        border-top: 2px solid black;
}
    .arrow_month:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 17px;
        top: -2px;
        left: 97px;
        border-top: 2px solid black;
        transform-origin: right;
        transform: rotate(45deg);
}

    .arrow_month:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 17px;
        top: -2px;
        left: 97px;
        border-top: 2px solid black;
        transform-origin: right;
        transform: rotate(-45deg);
}


    .main_tag {
        display: none;

    }

    .main_tag + label {
    	font-size: 15px;
    	display: inline-block;
    	cursor:pointer;
    	user-select: none;
    }
    .main_tag:checked + label {
    	background-color: blue;
    } 

    // 태그 라벨 하나하나  
    .main_tags_search .tag_label {
        font-size: 20px;

    }
    
    // 검색버튼 
    .submit_button {
        font-size: 25px;

    }